@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<div class="main-search-box shadow mx-auto col-10 text-start">
    <div class="d-flex text-center">
        <div class="main-search-box-left w-50 bg-primary position-relative">
            <a class="fs-3 text-white text-decoration-none stretched-link" href="#" id="car-btn">Мені потрібен водій</a>
        </div>
        <div class="main-search-box-right w-50 position-relative">
            <a class="fs-3 text-black text-decoration-none stretched-link" href="#" id="cargo-btn">Мені потрібен вантаж</a>
        </div>
    </div>
    <div class="p-3" id="car-request-form">
        <div>
            <form method="post" asp-action="Search" asp-controller="Home">
                <input asp-for=IsCarSearching checked="checked" hidden="hidden" />
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CarSearch.DeparturePlace>Місце відбуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="car-departure" asp-for=CarSearch.DeparturePlace autocomplete="off" spellcheck="false" />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CarSearch.DestinationPlace>Місце прибуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="car-destination" asp-for=CarSearch.DestinationPlace autocomplete="off" spellcheck="false" />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CarSearch.SearchRange>Режим пошуку</label>
                    <div class="col-10">
                        <select class="form-select" asp-for=CarSearch.SearchRange asp-items=Html.GetEnumSelectList(typeof(SearchRange))></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="p-3" id="cargo-request-form" style="display: none;">
        <div>
            <form method="post" asp-action="Search" asp-controller="Home">
                <input asp-for=IsCargoSearching checked="checked" hidden="hidden" />
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CargoSearch.DeparturePlace>Місце відбуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="cargo-departure" asp-for=CargoSearch.DeparturePlace autocomplete="off" spellcheck="false" />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row clear-group">
                    <label class="col-form-label col-2" asp-for=CargoSearch.DestinationPlace>Місце прибуття</label>
                    <div class="col-8">
                        <input class="form-control w-100 clear-input" id="cargo-destination" asp-for=CargoSearch.DestinationPlace autocomplete="off" spellcheck="false" />
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary w-100 clear-btn">Очистити</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-2" asp-for=CargoSearch.SearchRange>Режим пошуку</label>
                    <div class="col-10">
                        <select class="form-select" asp-for=CargoSearch.SearchRange asp-items=Html.GetEnumSelectList(typeof(SearchRange))></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="mt-5">
    @if (Model != null)
    {
        <div class="col-6 mx-auto">
            @if (Model.CarRequests != null)
            {
                <h3 class="text-center">Запити на машину</h3>
                <div class="list-group">
                    @for (int i = 0; i < Model.CarRequests.Count; i++)
                    {
                        var request = Model.CarRequests[i];
                        <div class="list-group-item">
                            <div class="row">
                                <span class="fw-bold col-4">Місце відбуття</span>
                                <span class="col-8">@request.DeparturePlace</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-4">Місце прибуття</span>
                                <span class="col-8">@request.DestinationPlace</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-4">Маса вантажу</span>
                                <span class="col-8">@request.CargoMass кг</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-4">Об'єм вантажу</span>
                                <span class="col-8">@request.CargoVolume м³</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-4">Пропонована ціна</span>
                                <span class="col-8">@request.Price грн</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-4">Час подання</span>
                                <span class="col-8">@request.AddTime</span>
                            </div>
                        </div>
                    }
                </div>
            }
            else if (Model.CargoRequests != null)
            {
                <h3>Запити на вантаж</h3>
                @for (int i = 0; i < Model.CargoRequests.Count; i++)
                {
                    var request = Model.CargoRequests[i];
                    <div class="list-group-item">
                        <div class="row">
                            <span class="fw-bold col-4">Місце відбуття</span>
                            <span class="col-8">@request.DeparturePlace</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Місце прибуття</span>
                            <span class="col-8">@request.DestinationPlace</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Час відбуття</span>
                            <span class="col-8">@request.DepartureTime</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Пропонована ціна</span>
                            <span class="col-8">@request.Price грн</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Час подання</span>
                            <span class="col-8">@request.AddTime</span>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        const carDepartureAutocomplete = getSettlementAutocomplete("#car-departure", "Місце відбуття...");
        const carDestinationAutocomplete = getSettlementAutocomplete("#car-destination", "Місце прибуття...");

        const cargoDepartureAutocomplete = getSettlementAutocomplete("#cargo-departure", "Місце відбуття...");
        const cargoDestinationAutocomplete = getSettlementAutocomplete("#cargo-destination", "Місце прибуття...");
    </script>
}