@inject IHtmlLocalizer<SharedResource> Localizer
@model SearchViewModel
@{
    ViewData["Title"] = Localizer["Search"];
}

<h1 class="text-center mb-5">@Localizer["Search"]</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="d-flex text-center">
        <div class="panel-top-left bg-primary">
            <a class="fs-3 text-white text-decoration-none stretched-link" href="#" id="car-btn">@Localizer["I need a driver"]</a>
        </div>
        <div class="panel-top-right">
            <a class="fs-3 text-black text-decoration-none stretched-link" href="#" id="cargo-btn">@Localizer["I need a cargo"]</a>
        </div>
    </div>
    <div class="p-3" id="car-request-form">
        <div>
            <form method="post" class="row g-3 pt-3" asp-controller="Requests" asp-action="CarRequestFromSearch">
                <input asp-for=IsCarSearching checked="checked" hidden="hidden" />
                <div class="col-lg-6 mt-0 mb-3">
                    <label class="form-label" asp-for=CarSearch.DeparturePlace></label><span class="text-danger">*</span>
                    <input class="form-control w-100 mb-3" id="car-departure" asp-for=CarSearch.DeparturePlace autocomplete="off" spellcheck="false" required />
                    @* <div class="mb-3"><span asp-validation-for="CarSearch.DeparturePlace" class="text-danger"></span></div> *@
                    <label class="form-label" asp-for=CarSearch.DestinationPlace></label><span class="text-danger">*</span>
                    <input class="form-control w-100 mb-3" id="car-destination" asp-for=CarSearch.DestinationPlace autocomplete="off" spellcheck="false" required/>
                    @* <div class="mb-3"><span asp-validation-for="CarSearch.DestinationPlace" class="text-danger"></span></div> *@
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" asp-for="CarSearch.EarlyDepartureTime"></label>
                            <input class="form-control" type="date" asp-for="CarSearch.EarlyDepartureTime" />
                            <span asp-validation-for="CarSearch.EarlyDepartureTime" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="CarSearch.LateDepartureTime"></label>
                            <input class="form-control" type="date" asp-for="CarSearch.LateDepartureTime" />
                            <span asp-validation-for="CarSearch.LateDepartureTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-0">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label" asp-for="CarSearch.TrailerType"></label>
                            <select class="form-select" asp-for="CarSearch.TrailerType" asp-items="Html.GetEnumSelectList<TrailerType>()"></select>
                            <span asp-validation-for="CarSearch.TrailerType" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CarSearch.Mass"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Mass" autocomplete="off" />
                                <span class="input-group-text">@Localizer["massUnit"]</span>
                            </div>
                            <span asp-validation-for="CarSearch.Mass" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CarSearch.Volume"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Volume" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]<sup>3</sup></span>
                            </div>
                            <span asp-validation-for="CarSearch.Volume" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CarSearch.Length"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Length" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]</span>
                            </div>
                            <span asp-validation-for="CarSearch.Length" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CarSearch.Width"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Width" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]</span>
                            </div>
                            <span asp-validation-for="CarSearch.Width" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CarSearch.Height"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CarSearch.Height" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]</span>
                            </div>
                            <span asp-validation-for="CarSearch.Height" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-text">@Localizer["SearchFieldsDescription"]</div>
                    </div>
                </div>
                <div class="col-12 m-0">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="CarSearch.NeedsGPS" value="true">
                        <label class="form-check-label" asp-for="CarSearch.NeedsGPS"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-search col-4 search-button" formaction="/Home/Search">@Localizer["Search"]</button>
                <div class="col-4"></div>
                <button type="submit" class="btn btn-primary btn-search col-4 skip-form-validation" formaction="/Requests/CarRequestFromSearch">@Localizer["Create Request"]</button>
            </form>
        </div>
    </div>
    <div class="p-3" id="cargo-request-form" style="display: none;">
        <div>
            <form method="post" class="row g-3 pt-3" asp-controller="Requests" asp-action="CargoRequestFromSearch">
                <input asp-for=IsCargoSearching checked="checked" hidden="hidden" />
                <div class="col-lg-6 mt-0 mb-3">
                    <label class="form-label" asp-for=CargoSearch.DeparturePlace></label><span class="text-danger">*</span>
                    <input class="form-control mb-3 w-100" id="car-departure" asp-for=CargoSearch.DeparturePlace autocomplete="off" spellcheck="false" required />
                    @* <div class="mb-3"><span asp-validation-for="CargoSearch.DeparturePlace" class="text-danger"></span></div> *@
                    <label class="form-label" asp-for=CargoSearch.DestinationPlace></label><span class="text-danger">*</span>
                    <input class="form-control mb-3 w-100" id="car-destination" asp-for=CargoSearch.DestinationPlace autocomplete="off" spellcheck="false" required />
                    @* <div class="mb-3"><span asp-validation-for="CargoSearch.DestinationPlace" class="text-danger"></span></div> *@
                    <div class="col-12">
                        <label class="form-label" asp-for="CargoSearch.DepartureTime"></label>
                        <input class="form-control" asp-for="CargoSearch.DepartureTime" />
                        <span asp-validation-for="CargoSearch.DepartureTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 m-0">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label" asp-for="CargoSearch.TrailerType"></label>
                            <select class="form-select" asp-for="CargoSearch.TrailerType" asp-items="Html.GetEnumSelectList<TrailerType>()"></select>
                            <span asp-validation-for="CargoSearch.TrailerType" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CargoSearch.Mass"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Mass" autocomplete="off" />
                                <span class="input-group-text">@Localizer["massUnit"]</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Mass" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" asp-for="CargoSearch.Volume"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Volume" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]<sup>3</sup></span>
                            </div>
                            <span asp-validation-for="CargoSearch.Volume" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CargoSearch.Length"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Length" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Length" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CargoSearch.Width"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Width" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Width" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="CargoSearch.Height"></label>
                            <div class="input-group">
                                <input class="form-control" asp-for="CargoSearch.Height" autocomplete="off" />
                                <span class="input-group-text">@Localizer["lengthUnit"]</span>
                            </div>
                            <span asp-validation-for="CargoSearch.Height" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-text">@Localizer["SearchFieldsDescription"]</div>
                    </div>
                </div>
                <div class="col-12 m-0">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="CargoSearch.HasGPS" value="true">
                        <label class="form-check-label" asp-for="CargoSearch.HasGPS"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-search col-4 search-button" formaction="/Home/Search">@Localizer["Search"]</button>
                <div class="col-4"></div>
                <button type="submit" class="btn btn-primary btn-search col-4 skip-form-validation" formaction="/Requests/CargoRequestFromSearch">@Localizer["Create Request"]</button>
            </form>
        </div>
    </div>
</div>

<div id="search-results"></div>

@section Scripts {
    @* <script>
        const carDepartureAutocomplete = getSettlementAutocomplete("#car-departure", "Місце відбуття...");
        const carDestinationAutocomplete = getSettlementAutocomplete("#car-destination", "Місце прибуття...");

        const cargoDepartureAutocomplete = getSettlementAutocomplete("#cargo-departure", "Місце відбуття...");
        const cargoDestinationAutocomplete = getSettlementAutocomplete("#cargo-destination", "Місце прибуття...");
    </script> *@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}