@model SearchViewModel

<div class="mt-5">
    @if (Model != null)
    {
        <div class="col-10 mx-auto">
            @if (Model.CarRequests != null && Model.CarRequests.Count != 0)
            {
                <h3 class="text-center">Запити на машину</h3>
                <div class="list-group">
                    @for (int i = 0; i < Model.CarRequests.Count; i++)
                    {
                        var request = Model.CarRequests[i];
                        <div class="list-group-item">
                            <div class="row">
                                <span class="fw-bold col-6">Місце відбуття</span>
                                <span class="col-6">@request.DeparturePlace</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">Місце прибуття</span>
                                <span class="col-6">@request.DestinationPlace</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">Маса вантажу</span>
                                <span class="col-6">@request.Cargo.Mass кг</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">Об'єм вантажу</span>
                                <span class="col-6">@request.Cargo.Volume м³</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">Пропонована ціна</span>
                                <span class="col-6">@request.Price грн</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">Час подання</span>
                                <span class="col-6">@request.AddTime</span>
                            </div>
                            <div class="row justify-content-center mt-4">
                                <a class="btn btn-primary col-4" asp-controller="Requests" asp-action="CarRequestDetails" asp-route-id="@request.Id">Переглянути детально</a>
                            </div>
                        </div>
                    }
                </div>
            }
            else if (Model.CargoRequests != null && Model.CargoRequests.Count != 0)
            {
                <h3>Запити на вантаж</h3>
                @for (int i = 0; i < Model.CargoRequests.Count; i++)
                {
                    var request = Model.CargoRequests[i];
                    <div class="list-group-item rounded">
                        <div class="row text-center">
                            <span class="col-5 border rounded-pill">@request.DeparturePlace</span>
                            <span class="col-2">></span>
                            <span class="col-5 border rounded-pill">@request.DestinationPlace</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">Час відбуття</span>
                            <span class="col-6">@request.DepartureTime.ToLongDateString() @request.DepartureTime.ToShortTimeString()</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">Пропонована ціна</span>
                            <span class="col-6">@request.Price грн</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">Час подання</span>
                            <span class="col-6">@request.AddTime</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">Контактне ім'я</span>
                            <span class="col-6">@request.ContactName</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">Контактний номер</span>
                            <span class="col-6">@request.ContactPhoneNumber</span>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <a class="btn btn-primary col-4" asp-controller="Requests" asp-action="CargoRequestDetails" asp-route-id="@request.Id">Переглянути детально</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>Результатів не знайдено. Спробуйте змінити режим пошуку або створити власний запит на пошук.</h3>
            }
        </div>
    }
</div>