@model SearchViewModel
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="mt-5">
    @if (Model != null)
    {
        <div class="col-10 mx-auto">
            @if (Model.CarRequests != null && Model.CarRequests.Count != 0)
            {
                <h3 class="text-center">@Localizer["Car requests"]</h3>
                <div class="list-group">
                    @for (int i = 0; i < Model.CarRequests.Count; i++)
                    {
                        var request = Model.CarRequests[i];
                        <div class="list-group-item">
                            <div class="row">
                                <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.DeparturePlace)</span>
                                <span class="col-6">@Html.DisplayFor(model => request.DeparturePlace)</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.DestinationPlace)</span>
                                <span class="col-6">@Html.DisplayFor(model => request.DestinationPlace)</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.Cargo.Mass)</span>
                                <span class="col-6">@Html.DisplayFor(model => request.DeparturePlace) @Localizer["massUnit"]</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.Cargo.Volume)</span>
                                <span class="col-6">@Html.DisplayFor(model => request.Cargo.Volume) @Localizer["lengthUnit"]³</span>
                            </div>
                            <div class="row">
                                <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.Price)</span>
                                <span class="col-6">@Html.DisplayFor(model => request.Price) @Localizer["Hryvnia"]</span>
                            </div>
                            <div class="row justify-content-center mt-4">
                                <a class="btn btn-primary col-4" asp-controller="Requests" asp-action="CarRequestDetails" asp-route-id="@request.Id">@Localizer["View"]</a>
                            </div>
                        </div>
                    }
                </div>
            }
            else if (Model.CargoRequests != null && Model.CargoRequests.Count != 0)
            {
                <h3 class="text-center">@Localizer["Cargo requests"]</h3>
                @for (int i = 0; i < Model.CargoRequests.Count; i++)
                {
                    var request = Model.CargoRequests[i];
                    <div class="list-group-item rounded">
                        <div class="row">
                            <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.DeparturePlace)</span>
                            <span class="col-6">@Html.DisplayFor(model => request.DeparturePlace)</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.DestinationPlace)</span>
                            <span class="col-6">@Html.DisplayFor(model => request.DestinationPlace)</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.DepartureTime)</span>
                            <span class="col-6">@Html.DisplayFor(model => request.DepartureTime)</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-6">@Html.DisplayNameFor(model => request.Price)</span>
                            <span class="col-6">@Html.DisplayFor(model => request.Price) @Localizer["Hryvnia"]</span>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <a class="btn btn-primary col-4" asp-controller="Requests" asp-action="CargoRequestDetails" asp-route-id="@request.Id">@Localizer["View"]</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>@Localizer["No search results"]</h3>
            }
        </div>
    }
</div>