@model List<UserProfileAdminViewModel>

@{
    ViewData["Title"] = "Users";
}

<h2>Користувачі</h2>

<table class="table table-striped caption-top align-middle">
    <caption>У стовпці "Оголошення" перше число означає "оголошення на пошук транспорту", друге - "оголошення на пошук вантажу".</caption>
    <caption>У стовпці "Відповіді" перше число означає "відповіді на оголошення пошуку транспорту", друге - "відповіді на оголошення пошуку вантажу".</caption>
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Пошта</th>
            <th>Рейтинг</th>
            <th>Отримані відгуки</th>
            <th>Написані відгуки</th>
            <th>Оголошення</th>
            <th>Відповіді</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Rating.ToString("F2")</td>
                <td>@user.ReviewsReceivedCount</td>
                <td>@user.ReviewsSentCount</td>
                <td>@user.CarRequestsCount/@user.CargoRequestsCount</td>
                <td>@user.CarResponsesCount/@user.CargoResponsesCount</td>
                <td>
                    <a asp-controller="Account" asp-action="Profile" asp-route-id="@user.Id" class="btn btn-warning">Перевірка</a>
                </td>
            </tr>
        }
    </tbody>
</table>