@inject IHtmlLocalizer<SharedResource> Localizer
@model CargoRequestViewModel

@{
    ViewData["Title"] = Localizer["Request details"];
}

<h1 class="text-center mb-5">@Localizer["Cargo request"]</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">@Localizer["Request details"]</span>
    </div>
    <div id="car-request-details" class="p-3">
        <span class="badge bg-secondary mb-2">@Model.CargoRequest.RequestType.GetDisplayNameContext(Context)</span>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.UserName)</span>
            <span class="col-6"><a asp-action="Profile" asp-controller="Account" asp-route-id="@Model.CargoRequest.UserId">@Html.DisplayFor(model => model.UserName)</a></span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.ContactName)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.ContactName)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.ContactPhoneNumber)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.ContactPhoneNumber)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.ContactEmail)</span>
            <span class="col-6">@(Model.CargoRequest.ContactEmail != null ? Html.DisplayFor(model => model.CargoRequest.ContactEmail) : Localizer["Not specified"])</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.DeparturePlace)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.DeparturePlace)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.DestinationPlace)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.DestinationPlace)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.DepartureTime)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.DepartureTime)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.Car.Type)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.Car.Type)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.Car.TrailerType)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.Car.TrailerType)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.Car.MaxMass)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.Car.MaxMass) @Localizer["massUnit"]</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.Car.MaxVolume)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.Car.MaxVolume) @Localizer["lengthUnit"]³ (@(Model.CargoRequest.Car.MaxLength == null ? "-" : (Model.CargoRequest.Car.MaxLength.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(Model.CargoRequest.Car.MaxWidth == null ? "-" : (Model.CargoRequest.Car.MaxWidth.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(Model.CargoRequest.Car.MaxHeight == null ? "-" : (Model.CargoRequest.Car.MaxHeight.Value.ToString("F2") + " " + Localizer["lengthUnit"].Value)))</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.Price)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.Price) @Localizer["Hryvnia"] (@Html.DisplayFor(model => model.CargoRequest.PriceType))</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CargoRequest.AddTime)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CargoRequest.AddTime)</span>
        </div>
        <div class="form-label">@Html.DisplayNameFor(model => model.CargoRequest.Details)</div>
        <div class="form-label" style="white-space: pre-line">@Html.DisplayFor(model => model.CargoRequest.Details)</div>
        @if (Model.AllowEditing)
        {
            <a class="btn btn-warning mt-2 w-100" asp-action="EditCargoRequest" asp-controller="Requests" asp-route-id="@Model.CargoRequest.Id">@Localizer["Edit"]</a>
        }
    </div>
</div>

<div class="panel box-shadow mx-auto col-10 text-start mt-5">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">@Localizer["Responses"]</span>
    </div>
    <div id="car-responses" class="p-3">
        <div class="list-group">
            @foreach (var response in Model.Responses)
            {
                @* <div class="list-group-item mb-3">
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Контактне ім'я:</label>
            <p>@response.ContactName</p>
            </div>
            <div class="col-6">
            <label class="form-label">Контактний номер:</label>
            <p>@response.ContactPhoneNumber</p>
            </div>
            </div>
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Місце відбуття:</label>
            <p>@response.DeparturePlace</p>
            </div>
            <div class="col-6">
            <label class="form-label">Місце прибуття:</label>
            <p>@response.DestinationPlace</p>
            </div>
            </div>
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Час відбуття:</label>
            <p>@response.DepartureTime.ToString("g")</p>
            </div>
            <div class="col-6">
            <label class="form-label">Тип автомобіля:</label>
            <p>@response.Car.Type</p>
            </div>
            </div>
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Ціна:</label>
            <p>@response.Price грн (@response.PriceType)</p>
            </
            </div>
            </div>
            </div>
            *@
            }
        </div>
    </div>
</div>
