@inject IHtmlLocalizer<SharedResource> Localizer
@model CarRequestViewModel

@{
    ViewData["Title"] = Localizer["Request details"];
}

<h1 class="text-center mb-5">@Localizer["Car request"]</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">@Localizer["Request details"]</span>
    </div>
    <div id="car-request-details" class="p-3">
        <span class="badge bg-secondary mb-2">@Html.DisplayFor(model => model.CarRequest.RequestType)</span>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.UserName)</span>
            <span class="col-6"><a asp-action="Profile" asp-controller="Account" asp-route-id="@Model.CarRequest.UserId">@Html.DisplayFor(model => model.UserName)</a></span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.ContactName)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.ContactName)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.ContactPhoneNumber)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.ContactPhoneNumber)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.ContactEmail)</span>
            <span class="col-6">@(Model.CarRequest.ContactEmail != null ? Html.DisplayFor(model => model.CarRequest.ContactEmail) : Localizer["Not specified"])</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.DeparturePlace)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.DeparturePlace)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.DestinationPlace)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.DestinationPlace)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.EarlyDepartureDate)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.EarlyDepartureDate)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.LateDepartureDate)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.LateDepartureDate)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Cargo.TrailerType)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Cargo.TrailerType)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Cargo.Mass)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Cargo.Mass) @Localizer["massUnit"]</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Cargo.Volume)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Cargo.Volume) @Localizer["lengthUnit"]³ (@(Model.CarRequest.Cargo.Length == null ? "-" : (Model.CarRequest.Cargo.Length.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(Model.CarRequest.Cargo.Width == null ? "-" : (Model.CarRequest.Cargo.Width.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(Model.CarRequest.Cargo.Height == null ? "-" : (Model.CarRequest.Cargo.Height.Value.ToString("F2") + " " + Localizer["lengthUnit"].Value)))</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Price)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Price) @Localizer["Hryvnia"] (@Html.DisplayFor(model => model.CarRequest.PriceType))</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.AddTime)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.AddTime)</span>
        </div>
        <div class="form-label">@Html.DisplayNameFor(model => model.CarRequest.Details)</div>
        <div class="form-label" style="white-space: pre-line">@Html.DisplayFor(model => model.CarRequest.Details)</div>
        @if (Model.AllowEditing)
        {
            <a class="btn btn-warning mt-2 w-100" asp-action="EditCarRequest" asp-controller="Requests" asp-route-id="@Model.CarRequest.Id">@Localizer["Edit"]</a>
        }
    </div>
</div>

@if (Model.Responses.Count != 0)
{
    <div class="panel box-shadow mx-auto col-10 text-start mt-5">
        <div class="text-center bg-primary panel-top">
            <span class="fs-3 text-white">@(Model.AllowEditing ? Localizer["Responses"].Value : Localizer["Your response"].Value)</span>
        </div>
        <div id="car-responses" class="p-3">
            <div class="list-group">
                @foreach (var response in Model.Responses)
                {
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.User!.Name)</span>
                        <span class="col-6"><a asp-action="Profile" asp-controller="Account" asp-route-id="@response.UserId">@Html.DisplayFor(model => response.User!.Name)</a></span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.ContactName)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.ContactName)</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.ContactPhoneNumber)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.ContactPhoneNumber)</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.ContactEmail)</span>
                        <span class="col-6">@(response.ContactEmail != null ? Html.DisplayFor(model => response.ContactEmail) : Localizer["Not specified"])</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.Car.Type)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.Car.Type)</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.Car.TrailerType)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.Car.TrailerType)</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.Car.MaxMass)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.Car.MaxMass) @Localizer["massUnit"]</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.Car.MaxVolume)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.Car.MaxVolume) @Localizer["lengthUnit"]³ (@(response.Car.MaxLength == null ? "-" : (response.Car.MaxLength.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(response.Car.MaxWidth == null ? "-" : (response.Car.MaxWidth.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(response.Car.MaxHeight == null ? "-" : (response.Car.MaxHeight.Value.ToString("F2") + " " + Localizer["lengthUnit"].Value)))</span>
                    </div>
                    <div class="row">
                        <span class="form-label col-6">@Html.DisplayNameFor(model => response.AddTime)</span>
                        <span class="col-6">@Html.DisplayFor(model => response.AddTime)</span>
                    </div>
                    <div class="form-label">@Html.DisplayNameFor(model => response.Details)</div>
                    <div class="form-label" style="white-space: pre-line">@Html.DisplayFor(model => response.Details)</div>
                    @if (response.UserId == Model.UserId)
                    {
                        <form asp-action="DeleteCarResponse" asp-controller="Requests" method="post">
                            <input type="hidden" name="requestId" value="@Model.CarRequest.Id" />
                            <input type="hidden" name="responseId" value="@response.Id" />
                            <button class="btn btn-danger mt-2 w-100" type="submit">@Localizer["Delete"]</button>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
}

@if (Model.AllowResponding)
{
    <div class="panel box-shadow mx-auto col-10 mt-5">
        <div class="text-center bg-primary panel-top">
            <span class="fs-3 text-white">@Localizer["Create response"]</span>
        </div>
        <form method="post" asp-action="CreateCarResponse" asp-controller="Requests" class="row p-3 g-3">
            <div class="col-12">
                <label class="form-label" asp-for=Response.ContactName></label>
                <input class="form-control" asp-for=Response.ContactName required />
                <span asp-validation-for="Response.ContactName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=Response.ContactPhoneNumber></label>
                <input class="form-control" asp-for=Response.ContactPhoneNumber placeholder="*** *** ****" />
                <span asp-validation-for="Response.ContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for=Response.ContactEmail></label>
                <input class="form-control" asp-for=Response.ContactEmail placeholder="placeholder@gmial.com" />
                <span asp-validation-for="Response.ContactEmail" class="text-danger"></span>
                <div class="form-text">@Localizer["Email is not necessary"]</div>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="Response.Car.Type"></label>
                <select class="form-select" asp-for="Response.Car.Type" asp-items="Html.GetEnumSelectList<CarType>()" required></select>
                <span asp-validation-for="Response.Car.Type" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="Response.Car.TrailerType"></label>
                <select class="form-select" asp-for="Response.Car.TrailerType" asp-items="Html.GetEnumSelectList<TrailerType>()" required></select>
                <span asp-validation-for="Response.Car.TrailerType" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label class="form-label" asp-for=Response.Car.MaxMass></label>
                <div class="input-group">
                    <input class="form-control" asp-for=Response.Car.MaxMass autocomplete="off" required />
                    <span class="input-group-text">@Localizer["massUnit"]</span>
                </div>
                <span asp-validation-for="Response.Car.MaxMass" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label class="form-label" asp-for=Response.Car.MaxVolume></label>
                <div class="input-group">
                    <input class="form-control" asp-for=Response.Car.MaxVolume autocomplete="off" />
                    <span class="input-group-text">@Localizer["lengthUnit"]<sup>3</sup></span>
                </div>
                <span asp-validation-for="Response.Car.MaxVolume" class="text-danger"></span>
            </div>
            <div class="col-4 col-lg-2">
                <label class="form-label" asp-for=Response.Car.MaxLength></label>
                <div class="input-group">
                    <input class="form-control" asp-for=Response.Car.MaxLength autocomplete="off" />
                    <span class="input-group-text">@Localizer["lengthUnit"]</span>
                </div>
                <span asp-validation-for="Response.Car.MaxLength" class="text-danger"></span>
            </div>
            <div class="col-4 col-lg-2">
                <label class="form-label" asp-for=Response.Car.MaxWidth></label>
                <div class="input-group">
                    <input class="form-control" asp-for=Response.Car.MaxWidth autocomplete="off" />
                    <span class="input-group-text">@Localizer["lengthUnit"]</span>
                </div>
                <span asp-validation-for="Response.Car.MaxWidth" class="text-danger"></span>
            </div>
            <div class="col-4 col-lg-2">
                <label class="form-label" asp-for=Response.Car.MaxHeight></label>
                <div class="input-group">
                    <input class="form-control" asp-for=Response.Car.MaxHeight autocomplete="off" />
                    <span class="input-group-text">@Localizer["lengthUnit"]</span>
                </div>
                <span asp-validation-for="Response.Car.MaxHeight" class="text-danger"></span>
            </div>
            <div class="col-12 form-text">@Localizer["Volume or Dimensions"]</div>
            <div class="col-12 text-center">
                <label class="form-label" asp-for=Response.Details></label>
                <textarea class="form-control" asp-for=Response.Details rows="3"></textarea>
                <span asp-validation-for="Response.Details" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Response.CarRequestId" value="@Model.CarRequest.Id" />
            <button type="submit" class="btn btn-primary">@Localizer["Confirm"]</button>
        </form>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}