@inject IHtmlLocalizer<SharedResource> Localizer
@model CarRequestViewModel

@{
    ViewData["Title"] = Localizer["Request details"];
}

<h1 class="text-center mb-5">@Localizer["Car request"]</h1>

<div class="panel box-shadow mx-auto col-10 text-start">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">@Localizer["Request details"]</span>
    </div>
    <div id="car-request-details" class="p-3">
        <span class="badge bg-secondary mb-2">@Html.DisplayNameFor(model => model.CarRequest.RequestType)</span>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.UserName)</span>
            <span class="col-6"><a asp-action="Profile" asp-controller="Account" asp-route-id="@Model.CarRequest.UserId">@Html.DisplayFor(model => model.UserName)</a></span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.ContactName)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.ContactName)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.ContactPhoneNumber)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.ContactPhoneNumber)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.ContactEmail)</span>
            <span class="col-6">@(Model.CarRequest.ContactEmail != null ? Html.DisplayFor(model => model.CarRequest.ContactEmail) : Localizer["Not specified"])</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.DeparturePlace)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.DeparturePlace)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.DestinationPlace)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.DestinationPlace)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.EarlyDepartureDate)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.EarlyDepartureDate)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.LateDepartureDate)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.LateDepartureDate)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Cargo.TrailerType)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Cargo.TrailerType)</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Cargo.Mass)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Cargo.Mass) @Localizer["massUnit"]</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Cargo.Volume)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Cargo.Volume) @Localizer["lengthUnit"]³ (@(Model.CarRequest.Cargo.Length == null ? "-" : (Model.CarRequest.Cargo.Length.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(Model.CarRequest.Cargo.Width == null ? "-" : (Model.CarRequest.Cargo.Width.Value.ToString("F2")) + " " + Localizer["lengthUnit"].Value) x @(Model.CarRequest.Cargo.Height == null ? "-" : (Model.CarRequest.Cargo.Height.Value.ToString("F2") + " " + Localizer["lengthUnit"].Value)))</span>
        </div>
        <div class="row">
            <span class="form-label col-6">@Html.DisplayNameFor(model => model.CarRequest.Price)</span>
            <span class="col-6">@Html.DisplayFor(model => model.CarRequest.Price) @Localizer["Hryvnia"] (@Html.DisplayFor(model => model.CarRequest.PriceType))</span>
        </div>
        <div class="row">
            <span class="form-label col-6 m-0">@Html.DisplayNameFor(model => model.CarRequest.AddTime)</span>
            <span class="col-6 m-0">@Html.DisplayFor(model => model.CarRequest.AddTime)</span>
        </div>
    </div>
</div>

<div class="panel box-shadow mx-auto col-10 text-start mt-5">
    <div class="text-center bg-primary panel-top">
        <span class="fs-3 text-white">@Localizer["Responses"]</span>
    </div>
    <div id="car-responses" class="p-3">
        <div class="list-group">
            @foreach (var response in Model.Responses)
            {
                @* <div class="list-group-item mb-3">
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Контактне ім'я:</label>
            <p>@response.ContactName</p>
            </div>
            <div class="col-6">
            <label class="form-label">Контактний номер:</label>
            <p>@response.ContactPhoneNumber</p>
            </div>
            </div>
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Місце відбуття:</label>
            <p>@response.DeparturePlace</p>
            </div>
            <div class="col-6">
            <label class="form-label">Місце прибуття:</label>
            <p>@response.DestinationPlace</p>
            </div>
            </div>
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Час відбуття:</label>
            <p>@response.DepartureTime.ToString("g")</p>
            </div>
            <div class="col-6">
            <label class="form-label">Тип автомобіля:</label>
            <p>@response.Car.Type</p>
            </div>
            </div>
            <div class="row mb-2">
            <div class="col-6">
            <label class="form-label">Ціна:</label>
            <p>@response.Price грн (@response.PriceType)</p>
            </div>
            <div class="col-6">
            <label class="form-label">Час додавання:</label>
            <p>@response.AddTime</p>
            </div>
            </div>
            </div> *@
            }
        </div>
    </div>
</div>
