@model RequestsViewModel
@{
    ViewData["Title"] = "Requests";
}

@if (Model != null)
{
    <div class="row">
        <div class="col-6">
            <h3>Запити на машину</h3>
            <div class="list-group">
                @for (int i = 0; i < Model.CarRequests.Count; i++)
                {
                    var request = Model.CarRequests[i];
                    <div class="list-group-item">
                        <div class="row">
                            <span class="fw-bold col-4">Контактний номер</span>
                            <span class="col-8">@request.ContactPhoneNumber</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Місце відбуття</span>
                            <span class="col-8">@request.DeparturePlace</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Місце прибуття</span>
                            <span class="col-8">@request.DestinationPlace</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Маса вантажу</span>
                            <span class="col-8">@request.Cargo.Mass кг</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Об'єм вантажу</span>
                            <span class="col-8">@request.Cargo.Volume м³</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Пропонована ціна</span>
                            <span class="col-8">@request.Price грн</span>
                        </div>
                        <div class="row">
                            <span class="fw-bold col-4">Час подання</span>
                            <span class="col-8">@request.AddTime</span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-6">
            <h3>Запити на вантаж</h3>
            @for (int i = 0; i < Model.CargoRequests.Count; i++)
            {
                var request = Model.CargoRequests[i];
                <div class="list-group-item">
                    <div class="row">
                        <span class="fw-bold col-4">Контактний номер</span>
                        <span class="col-8">@request.ContactPhoneNumber</span>
                    </div>
                    <div class="row">
                        <span class="fw-bold col-4">Місце відбуття</span>
                        <span class="col-8">@request.DeparturePlace</span>
                    </div>
                    <div class="row">
                        <span class="fw-bold col-4">Місце прибуття</span>
                        <span class="col-8">@request.DestinationPlace</span>
                    </div>
                    <div class="row">
                        <span class="fw-bold col-4">Час відбуття</span>
                        <span class="col-8">@request.DepartureTime</span>
                    </div>
                    <div class="row">
                        <span class="fw-bold col-4">Пропонована ціна</span>
                        <span class="col-8">@request.Price грн</span>
                    </div>
                    <div class="row">
                        <span class="fw-bold col-4">Час подання</span>
                        <span class="col-8">@request.AddTime</span>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h3>Whoops, something went wrong :(</h3>
}